* {
    font-size: 16px;
}

body {
      font-family: Arial, sans-serif;
      text-align: center;
      background-color: #f4f4f9;
      color: #333;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .container {
      width: 75%;
      padding: 20px;
      background: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
    }
    h1 {
      margin-bottom: 20px;
    }
    .time-input {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-bottom: 10px;
    }
    .time-input input {
      width: 25%;
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
      padding: 5px;
      color:#757575
      border: 1px solid #ccc;
      border-radius: 5px;
      -moz-appearance: textfield; /* Ocultar flechas en Firefox */
    }
    input{
        height: 4rem;
    }

    .time-input input::-webkit-inner-spin-button,
    .time-input input::-webkit-outer-spin-button {
      -webkit-appearance: none; /* Ocultar flechas en Chrome, Safari */
      margin: 0;
    }
    button {
      padding: 2rem 3rem;
      font-size: 1rem;
      color: white;
      background-color: #007BFF;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin: 2rem 1rem;
    }
    button:hover {
      background-color: #0056b3;
    }
    #timer {
        font-family: Arial, sans-serif;
        font-weight: 900;
        font-size: 10rem;
        margin: 5rem 0;
    }
    .negative {
      color: red;
    }

    .titule{
        font-size: 5rem;
    }
